.Lend-Render{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Lend-Div{
  height: 80%;
  width: 60%;
  border: 2px solid var(--Main_Color);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.Lend-Title{
  height: 5%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Lend-Title h1{
  font-size: 1.8em;
  transform: translateY(4px);
  cursor: pointer;
  transition: .3s;
}

.Lend-Title h1:hover{
  color: var(--Main_Color);
}

.Lend-Users{
  margin: 0 20px;
  height: 50%;
  display: flex;
  border-bottom: 1px solid var(--Main_Color);
}

.Lend-Teacher{
  height: 100%;
  width: 50%;
  border-right: 1px solid var(--Main_Color);
}

.Lend-Student{
  height: 100%;
  width: 50%;
}

.Lend-Ingrese-Class{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Lend-Ingrese-Studente{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Lend-Ingrese-Class select{
  width: 20%;
  margin-top: 10px;
  padding: 4px 7px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid var(--Main_Color);
}

.Lend-Ingrese-Studente select{
  width: 20%;
  margin-top: 10px;
  padding: 4px 7px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid var(--Main_Color);
}

.Lend-Ingrese-Class input{
  width: 70%;
  padding: 3px 4px;
  font-size: 1.1em;
  border: 1px solid var(--Main_Color);
  border-radius: 5px;
  outline: none;
}

.Lend-Ingrese-Studente input{
  width: 70%;
  padding: 3px 4px;
  font-size: 1.1em;
  border: 1px solid var(--Main_Color);
  border-radius: 5px;
  outline: none;
}

.Lend-Ingrese-Class button{
  margin-top: 20px;
  padding: 4px 10px;
  background-color: var(--Bg_Color);
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: .3s;
}

.Lend-Ingrese-Studente button{
  margin-top: 20px;
  padding: 4px 10px;
  background-color: var(--Bg_Color);
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: .3s;
}

.Lend-Ingrese-Class button:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Lend-Ingrese-Studente button:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Lend-Student-Active{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Lend-Student-Bar{
  display: flex;
  width: 95%;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.Lend-Student-Bar h2{
  cursor: pointer;
  transition: .3s;
}

.Lend-Student-Bar h2:hover{
  color: var(--Main_Color); 
}

.Lend-Student-Card{
  display: flex;
  padding: 20px 10px;
  width: 50%;
  height: 65%;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--Bg2_Color);
  border-radius: 10px;
}

.Lend-Student-Card picture{
  display: flex;
  width: 90%;
  height: 280px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 20px;
}

.Lend-Student-Card img{
  height: 280px;
}

.Lend-Item{
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Lend-item-Plus{
  display: flex;
  height: 90%;
  width: 20%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  transition: .3s ease-in-out;
}

.Lend-item-Plus:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.Lend-item-Plus picture{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Lend-item-Plus img{
  height: 200px;
}

.Lend-ButtonSubmit{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Lend-ButtonSubmit button{
  padding: 5px 12px;
  border: none;
  background-color: var(--Main_Color);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.Lend-Item-Select{
  display: flex;
  height: 90%;
  width: 20%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 10px; 
  flex-direction: column;
  border: 2px solid var(--Bg2_Color);
}

.Lend-Item-Select picture{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 65%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

.Lend-Item-Select img{
  height: 110%;
}

.Lend-Item-Select div{
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.Lend-Item-Select h2{
  cursor: pointer;
  transition: .3s;
}

.Lend-Item-Select h2:hover{
  color: var(--Main_Color);
}

.Lend-Teacher-Free{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Lend-Teacher-Free-Div{
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.Lend-Teacher-Free-Div input{
  padding: 4px 3px;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid var(--Main_Color);
  border-radius: 5px;
  outline: none;
}

.Lend-Teacher-Free-Div select{
  padding: 4px 2px;
  width: 30%;
  border-radius: 4px;
}
.Lend-Teacher-Free-Changer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Lend-Teacher-Free-Changer select{
  padding: 4px 2px;
  width: 20%;
  border-radius: 4px;
  background: transparent;
  border: 1px solid var(--Main_Color);
}

/* aplication pc */
@media screen and (max-width: 1210px){
  .Lend-Div{
    width: 70%;
    height: 90%;
  }
  .Lend-Users{
    height: 48%;
  }
  .Lend-Student-Card{
    height: 62%;
    width: 45%; 
  }
  .Lend-Student-Card img{
    height: 120px;
  }
  .Lend-item-Plus img{
    height: 140px;
  }
}
