.CardAdmin-Div{
  height: 200px;
  width: 10%;
  border-radius: 10px;
  border: 1px solid var(--Bg_Color);
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  overflow: hidden;
  transition: .3s;
}

.CardAdmin-Div picture{
  margin: 10px 10px 5px 10px;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

.CardAdmin-Div img{
  height: 200px;
}

.CardAdmin-Div h3{
  color: var(--Text_Color);
  text-align: center;
  transition: .3s;
}

.CardAdmin-Div div{
  padding: 0 10px;
  display: none;
  justify-content: space-between;
}

.CardAdmin-Div button{
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: .3s;
  color: var(--Text_Color);
}

.CardAdmin-Div button:hover{
  color: var(--Text_Color);
  background-color: var(--Bg2_Color);
}

.CardAdmin-Div:hover{
  height: 270px;
  width: 12%;
  background: var(--Bg_Color);
}

.CardAdmin-Div:hover picture{
  height: 70%;
}

.CardAdmin-Div:hover h3{
  color: #fff;
}

.CardAdmin-Div:hover div{
  display: flex;
}

.CardAdmin-Div:hover button{
  animation: initButton ease-in-out .3s;
}

@keyframes initButton{
  0%{
    transform: scaleY(0);
  }
  100%{
    transform: scaleY(1);
  }
}
