.PanelMain-Div{
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}


@media screen and (max-width: 1210px){
  .PanelMain-Div{
    height: 34vh;
  } 
}
